mifosSOAP/java/resources/MifosService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.mifos.org/services/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	targetNamespace="http://www.mifos.org/services/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.mifos.org/services/"
			elementFormDefault="unqualified"
			attributeFormDefault="unqualified">
			<xsd:element name="findLoanRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element type="xsd:integer" name="id" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="findLoanResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element type="tns:Loan" name="Loan" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="Loan">
				<xsd:sequence>
					<xsd:element type="xsd:integer" name="id" />
					<xsd:element type="xsd:string" name="borrowerName" />
					<xsd:element type="xsd:decimal" name="balance" />
					<xsd:element type="xsd:string"
						name="balanceCurrencyName" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="findLoanRequest">
		<wsdl:part element="tns:findLoanRequest" name="part1" />
	</wsdl:message>
	<wsdl:message name="findLoanResponse">
		<wsdl:part element="tns:findLoanResponse" name="part1" />
	</wsdl:message>
	<wsdl:portType name="MifosServicePortType">
		<wsdl:operation name="findLoan">
			<wsdl:input message="tns:findLoanRequest" />
			<wsdl:output message="tns:findLoanResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding type="tns:MifosServicePortType"
		name="MifosServiceSOAP11Binding">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="findLoan">
			<soap:operation style="document" soapAction="urn:findLoan" />
			<wsdl:input>
				<soap:body namespace="http://www.mifos.org/services/"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.mifos.org/services/"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding type="tns:MifosServicePortType"
		name="MifosServiceSOAP12Binding">
		<soap12:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="findLoan">
			<soap12:operation style="document"
				soapAction="urn:findLoan" />
			<wsdl:input>
				<soap12:body namespace="http://www.mifos.org/services/"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body namespace="http://www.mifos.org/services/"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MifosService">
		<wsdl:port binding="tns:MifosServiceSOAP11Binding"
			name="MifosServiceSOAP11port0">
			<soap:address
				location="http://localhost:8080/mifos/services/MifosService" />
		</wsdl:port>
		<wsdl:port binding="tns:MifosServiceSOAP12Binding"
			name="MifosServiceSOAP12port0">
			<soap12:address
				location="http://localhost:8080/mifos/services/MifosService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>