mifos/src/org/mifos/migration/schemas/generated/MifosDataExchange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:simpleType name="weekDayChoice">
    <xs:restriction base="xs:token">
      <xs:enumeration value="MONDAY"/>
      <xs:enumeration value="TUESDAY"/>
      <xs:enumeration value="WEDNESDAY"/>
      <xs:enumeration value="THURSDAY"/>
      <xs:enumeration value="FRIDAY"/>
      <xs:enumeration value="SATURDAY"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="weekDayOccurence">
    <xs:restriction base="xs:token">
      <xs:enumeration value="FIRST"/>
      <xs:enumeration value="SECOND"/>
      <xs:enumeration value="THIRD"/>
      <xs:enumeration value="FOURTH"/>
      <xs:enumeration value="LAST"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="address">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="address1"/>
        <xs:element minOccurs="0" ref="address2"/>
        <xs:element minOccurs="0" ref="address3"/>
        <xs:element minOccurs="0" ref="cityDistrict"/>
        <xs:element minOccurs="0" ref="state"/>
        <xs:element minOccurs="0" ref="country"/>
        <xs:element minOccurs="0" ref="postalCode"/>
        <xs:element minOccurs="0" ref="telephone"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="address1" type="xs:token"/>
  <xs:element name="address2" type="xs:token"/>
  <xs:element name="address3" type="xs:token"/>
  <xs:element name="cityDistrict" type="xs:token"/>
  <xs:element name="state" type="xs:token"/>
  <xs:element name="country" type="xs:token"/>
  <xs:element name="postalCode" type="xs:string"/>
  <xs:element name="telephone" type="xs:string"/>
  <xs:element name="weeklyMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="weeksBetweenMeetings"/>
        <xs:element ref="meetingWeekDay"/>
        <xs:element ref="location"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="weeksBetweenMeetings">
    <xs:simpleType>
      <xs:restriction base="xs:short">
        <xs:minInclusive value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="meetingWeekDay" type="weekDayChoice"/>
  <xs:element name="location" type="xs:token"/>
  <xs:element name="monthlyMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="dayOfMonth"/>
          <xs:sequence>
            <xs:element ref="meetingWeekDay"/>
            <xs:element ref="meetingWeekDayOccurence"/>
          </xs:sequence>
        </xs:choice>
        <xs:element ref="monthsBetweenMeetings"/>
        <xs:element ref="location"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dayOfMonth">
    <xs:simpleType>
      <xs:restriction base="xs:short">
        <xs:minInclusive value="1"/>
        <xs:maxInclusive value="31"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="meetingWeekDayOccurence" type="weekDayOccurence"/>
  <xs:element name="monthsBetweenMeetings">
    <xs:simpleType>
      <xs:restriction base="xs:short">
        <xs:minInclusive value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="mifosDataExchange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="center"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="center">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="officeId"/>
        <xs:element ref="loanOfficerId"/>
        <xs:choice>
          <xs:element ref="weeklyMeeting"/>
          <xs:element ref="monthlyMeeting"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="externalId"/>
        <xs:element ref="mfiJoiningDate"/>
        <xs:element minOccurs="0" ref="address"/>
        <xs:element minOccurs="0" ref="meetingTime"/>
        <xs:element ref="distanceFromBranchOffice"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feeAmount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="name" type="xs:token"/>
  <xs:element name="officeId">
    <xs:simpleType>
      <xs:restriction base="xs:short">
        <xs:minInclusive value="0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="loanOfficerId">
    <xs:simpleType>
      <xs:restriction base="xs:short">
        <xs:minInclusive value="0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="externalId" type="xs:string"/>
  <xs:element name="mfiJoiningDate" type="xs:date"/>
  <xs:element name="meetingTime" type="xs:string"/>
  <xs:element name="distanceFromBranchOffice">
    <xs:simpleType>
      <xs:restriction base="xs:int">
        <xs:minInclusive value="0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="feeAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="feeId"/>
        <xs:element ref="amount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="feeId" type="xs:short"/>
  <xs:element name="amount">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>
