mifos/src/org/mifos/migration/schemas/generated/MifosDataExchange.rnc

weekDayChoice =
  "MONDAY"
  | "TUESDAY"
  | "WEDNESDAY"
  | "THURSDAY"
  | "FRIDAY"
  | "SATURDAY"
weekDayOccurence = "FIRST" | "SECOND" | "THIRD" | "FOURTH" | "LAST"
customField =
  element customField {
    (element fieldId { xsd:short }
     | element name { xsd:token }),
    (element stringValue { text }
     | element numericValue { xsd:int }
     | element dateValue { xsd:date })
  }
address =
  element address {
    element address1 { xsd:token }?,
    element address2 { xsd:token }?,
    element address3 { xsd:token }?,
    element cityDistrict { xsd:token }?,
    element state { xsd:token }?,
    element country { xsd:token }?,
    element postalCode { text }?,
    element telephone { text }?
  }
weeklyMeeting =
  element weeklyMeeting {
    element weeksBetweenMeetings {
      xsd:short { minInclusive = "1" }
    },
    element meetingWeekDay { weekDayChoice },
    element location { xsd:token }
  }
monthlyMeeting =
  element monthlyMeeting {
    (element dayOfMonth {
       xsd:short { minInclusive = "1" maxInclusive = "31" }
     }
     | (element meetingWeekDay { weekDayChoice },
        element meetingWeekDayOccurence { weekDayOccurence })),
    element monthsBetweenMeetings {
      xsd:short { minInclusive = "1" }
    },
    element location { xsd:token }
  }
start =
  element mifosDataExchange {
    element center {
      element name { xsd:token },
      element officeId {
        xsd:short { minInclusive = "0" }
      },
      element loanOfficerId {
        xsd:short { minInclusive = "0" }
      },
      (weeklyMeeting | monthlyMeeting),
      element externalId { text }?,
      element mfiJoiningDate { xsd:date },
      address?,
      customField*,
      element feeAmount {
        element feeId { xsd:short },
        element amount {
          xsd:decimal { minInclusive = "0" }
        }
      }*
    }*
  }
